[Unit]
Description=Shulker Minecraft-Discord Integration for %i
After=network.target msm.service

[Service]
User=minecraft
WorkingDirectory=/usr/games/minecraft-discord
Environment=SHELL=/bin/bash NODE_VERSION=16
ExecStart=/var/games/minecraft/.nvm/nvm-exec npm run start -- ./config.%i.json
PIDFile=/var/run/shulker.%i.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
